.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: flex-start;
    align-items: center;
}

.rows-container {
    display: flex;
    flex-direction: column;
}
.cols-container {
    display: flex;
    flex-direction: row;
}